
.button rect {
  stroke: #1f628d;
  stroke-width: 2px;
}

.button #gradient-start {
/*  stop-color: #3498db; */
  stop-color: #4d9fb6; /* 70% */
  stop-opacity: 1;
}

.button #gradient-stop {
/*  stop-color: #2980b9; */
  stop-color: #1a84a2; /* 100% */
  stop-opacity: 1;
}

.button #gradient-start.active {
/*  stop-color: #3cb0fd; */
  stop-color: #99c8d5; /* 40% */
}

.button #gradient-stop.active {
/*  stop-color: #3498db; */
  stop-color: #4d9fb6; /* 70% */
}

.button text {
  font-size: 30px;
  fill: #eee;
  pointer-events: none;
  text-anchor: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}